* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:"Segoe UI", sans-serif;
    background-color:#f4f6f9;;
    color:#1f2937;
}
.app-layout {
    display:flex;
    min-height:100vh;
  
}
.sidebar {
    width:250px;
    background-color:#111827;;
    color:white;
    padding:2rem 1rem;
}
.app-main {
    flex:1;
    padding:2rem;
}
.nav-list {
    list-style:none;
}
.nav-item {
    margin-bottom:1rem;
}
.nav-link {
    text-decoration:none;
    color:#d1d5db;;
    font-weight:500;
    display:block;
    padding:0.5rem 0.75rem;
    border-radius:6px;
}
.dashboard-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px, 1fr));
    gap:1.5rem;
    margin-top:2rem;
}
.stat-card {
    background:white;
    padding:1.5rem;
    border-radius:12px;
     box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.stat-number {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0.5rem;
}